body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Oxygen", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.navbar {
    background-color: #415068;
}

.navbar div {
    display: none;
}

.navbar .toggle,
.navbar .brand {
    display: inline-block;
}

.navbar .link {
    display: block;
    text-align: center;
    padding: 1.2em;
    text-decoration: none;
    background-color: #223047;
    color: white;
    border: 1px solid #223047;
}

.navbar .link:hover,
.navbar .link:active {
    color: #223047;
    background-color: white;
}

.navbar .brand {
    width: 11em;
    padding: 1em;
    color: white;
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    text-align: center;
    
}

.navbar a {
    text-decoration: none;
}

.navbar .toggle {
    color:  #223047;
    margin-top: 15px;
    margin-left: 15px;
    
}

@media (min-width:48em) {
    .navbar {
        display: flex;
    }
    .navbar .brand {
        padding: auto;
    }
    .navbar .links,
    .navbar .link-contact {
        display: flex;
        flex: 1;
    }
    .navbar .link {
        width: auto;
    }
    .navbar .link-contact {
        justify-content: flex-end;
    }
    .navbar .toggle {
        display: none;
    }
}
@media (max-width:48em) {
    .navbar.active.toggle {
        background-color: #223047;
        color: white;
        justify-content: flex-end;
    }
    
    .navbar .brand {
        text-align: left;
    }
    .navbar.active div {
        display: block;
    }
    
}
